asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
falcon==1.2.0
hug==2.3.0
idna==2.5
pycparser==2.17
PyJWT==1.5.0
pyOpenSSL==17.0.0
PySocks==1.6.7
python-mimeparse==1.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
twilio==6.4.1
urllib3==1.21.1
